<center class="p-5 ">
    <div class="w-10/12">
        <div class="w-full mt-5 mb-5 text-left">
            <span class="mr-5 text-2xl font-bold mb-5 text-gray-600">Search GIF</span>
        </div>
        
        <div class="">
            <input type="text" class="bg-gray-200 px-4 py-3 rounded-bl-lg rounded-tl-lg w-10/12" placeholder="Type anything..."/>
            <button class="bg-yellow-400 text-white px-4 py-3 rounded-br-lg rounded-tr-lg font-bold w-1/12 hover:bg-yellow-500" type="button"><i class="fa fa-search"></i></button>
        </div>
        
        <div class="bg-gray-100 p-8 rounded-lg mt-5 flex flex-wrap">
        
            <div class="justify-start w-3/12 p-3">
                <img src="" title="" class="rounded-lg" alt=""/>
                <p class="text-sm mt-2 mb-2">Tes title</p>
            </div>
        
        </div>

    </div>
</center>